<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springsecuritysecond.mapper.SysMenuMapper">

    <select id="selectMenuPermsByUserId" resultType="com.example.springsecuritysecond.pojo.SysMenu">


        	SELECT * FROM sys_menu WHERE id in (
				(SELECT menu_id FROM sys_role_menu WHERE role_id=(
					SELECT role_id FROM sys_user_role WHERE user_id=#{id}
        )
     )
)  AND visible=10  AND menu_type=30
    </select>
</mapper>
